@use "../abstract/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-white;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
}

p {
    display: block;
    margin-block: 6px;
    margin-inline: 0px;
    unicode-bidi: isolate;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;

    & > ul {
        list-style-type: circle;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

hr {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    margin: 0;
}
